
#container {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#image {
    position: absolute;
    width: 100px; /* Set your initial image dimensions */
    height: auto;
    transition: width 0.1s ease-out, height 0.1s ease-out; /* Smooth transition for size change */
}

.button-container{
    display: flex;
    align-items: center;
    justify-content : center;
}

button{
    border : 3px solid black;
    border-radius: 10px;
    margin : 10px;
    padding : 5px 20px;
    background-color : red;
    font-size: 16px;
    cursor: pointer;
}